<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chatRoom">
            <h2><span jhiTranslate="spingularchatsqlApp.chatRoom.detail.title">Chat Room</span> {{chatRoom.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="spingularchatsqlApp.chatRoom.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{chatRoom.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="spingularchatsqlApp.chatRoom.roomName">Room Name</span></dt>
                <dd>
                    <span>{{chatRoom.roomName}}</span>
                </dd>
                <dt><span jhiTranslate="spingularchatsqlApp.chatRoom.roomDescription">Room Description</span></dt>
                <dd>
                    <span>{{chatRoom.roomDescription}}</span>
                </dd>
                <dt><span jhiTranslate="spingularchatsqlApp.chatRoom.privateRoom">Private Room</span></dt>
                <dd>
                    <span>{{chatRoom.privateRoom}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chat-room', chatRoom.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
