<div>
    <h2 id="page-heading">
        <span jhiTranslate="spingularchatsqlApp.chatUser.home.title">Chat Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chat-user" [routerLink]="['/chat-user/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="spingularchatsqlApp.chatUser.home.createLabel">
            Create new Chat User
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="chatUsers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="spingularchatsqlApp.chatUser.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="spingularchatsqlApp.chatUser.bannedUser">Banned User</span></th>
            <th><span jhiTranslate="spingularchatsqlApp.chatUser.user">User</span></th>
            <th><span jhiTranslate="spingularchatsqlApp.chatUser.chatRoom">Chat Room</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chatUser of chatUsers ;trackBy: trackId">
                <td><a [routerLink]="['/chat-user', chatUser.id, 'view' ]">{{chatUser.id}}</a></td>
                <td>{{chatUser.creationDate | date:'medium'}}</td>
                <td>{{chatUser.bannedUser}}</td>
                <td>
                    {{chatUser.userId}}
                </td>
                <td>
                    <span *ngFor="let chatRoom of chatUser.chatRooms; let last = last">
                            <a class="form-control-static" [routerLink]="['../chat-room', chatRoom?.id, 'view' ]">{{chatRoom.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/chat-user', chatUser.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chat-user', chatUser.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'chat-user', { outlets: { popup: chatUser.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
